<link rel="stylesheet" href="sweetalert2.min.css">
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>Usuarios</h1>
    </section>
    <!-- Main content -->
    <section class="content">
      <!-- Default box -->
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modal-info">
              Nuevo Usuario </button>
          </h3>
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                    title="Collapse">
              <i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
              <i class="fa fa-times"></i></button>
          </div>
        </div>
        <div class="box-body">
          <table id="example2" class="table table-bordered table-hover">
            <thead>
            <tr>
              <th>CODIGO</th>
              <th>NOMBRE</th>
              <th>ACCION</th>
            </tr>
            </thead>
            <tbody>
              <% datos.forEach((elements)=>{%>
            <tr>
              <td><%=elements.ID%></td>
              <td><%=elements.NAME%></td>
              <td>
                <a href="edit-user?id=<%= elements.ID %>&name=<%= elements.NAME %>" class="btn btn-warning">
                  <i class="fa fa-edit"></i>
                </a>
                <a class="btn btn-danger" onclick="confirmar(`<%= elements.ID %>`)"> 
                  <!-- href="borrar?id=<%= elements.ID %>" -->
                  <i class="fa fa-trash"></i>
                </a>
              </td>
            </tr>
            <% }) %>
            </tbody>
          </table>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
          Total de usuarios:
        </div>
        <!-- /.box-footer-->
      </div>
      <!-- /.box -->

    </section>
    <!-- /.content -->
    <div class="modal modal-info fade" id="modal-info">
      <div class="modal-dialog">
        <div class="modal-content">
          <form action="guardar" method="POST">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Registre un nuevo usuario</h4>
          </div>
          <div class="modal-body">
            <div class="input-group">
              <span class="input-group-addon">Ingresar Nombre</span>
              <input name="name"type="text" class="form-control" placeholder="Username">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Cancel</button>
            <button href="/save" type="submit" class="btn btn-outline">Save changes</button>
          </div>
        </form>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
  </div>
<script>
    function confirmar(id) {
      Swal.fire({
  title: '¿Estas seguto?',
  text: `Deseas Borrar el usuario Numero: ${id}`,
  icon: 'warning',
  showCancelButton: true,
  confirmButtonColor: '#3085d6',
  cancelButtonColor: '#d33',
  confirmButtonText: 'Si'
}).then((result) => {
  if (result.isConfirmed) {
    window.location.href=`borrar?id=${id}`;
    Swal.fire(
      'Eliminado',
      'El usuario a sido eliminado.',
      'success'
    )
  }
})
}
</script>