<!DOCTYPE html>
<html>
<!--Partial del head -->
<%- include ("./partials/dashhead.ejs") %>
<body class="hold-transition skin-blue sidebar-mini">
<!-- Div site wrapper -->
<div class="wrapper">
  <!-- Partial menu -->
  <%- include ("./partials/dashmenu.ejs")%>
  <% if (menu==0) { %>
  <!-- Content Wrapper with partial -->
  <%-include ("./partials/dashInicio.ejs")%>
  <%}%>

  <%if (menu==1){%>
    <!-- Content Wrapper with partial -->
    <%-include ("./partials/dashUser.ejs")%>
    <%}%>
  
    <%if (menu==4){%>
      <!-- Content Wrapper with partial -->
      <%-include ("./partials/dashEditUser.ejs")%>
      <%}%>
  <!-- Footer con Partial -->
  <%- include ("./partials/dashfooter.ejs")%>
</div>
<!-- jQuery 3 -->
<script src="../v1/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="../v1/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- SlimScroll -->
<script src="../v1/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="../v1/bower_components/fastclick/lib/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="../v1/dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../v1/dist/js/demo.js"></script>
<script>
  $(document).ready(function () {
    $('.sidebar-menu').tree()
  })
</script>
</body>
</html>
